
body {
    background-image: url(https://images.unsplash.com/photo-1534963063257-6b65b54e438b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.food {
    width:250px;
    height:100px;
 }

 .jumbotron {
     border-style: solid;
     border-color: slategrey;
     font-family: monospace;
     
 }

 .panel-heading {
     background-color: black;
     color: whitesmoke;
     margin-top: 10px;
     border-style: solid;
     border-width: 1px;
     border-color: slategrey;
 }

 .panel-body {
     background-color: black;
     color: whitesmoke;
     margin-bottom: 5px;
     border-color: slategrey;
     border-style: solid;
     border-width: 1px;
     padding-left: 1rem;
     padding-top: .5rem;
     padding-bottom: .5rem;
 }
